/*This is how a css file can be commented*/
/*****************************************TAG SELECTORS**********************/

body {
    background-color:#EAF6F6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    width: 5%;
    border-width: 5px;
    
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

/*Class selectors is used when multiple html elements are to be styled in the same way. ID selector can be used on only one html element and cannot be repeated.
The class and the id selectors override the properties defined in the global level i.e the tag selectors.
A html element can have multiple class selectors associated with it whereas multiple ids are not possible. Use ids sparingly
A Pseudo class is properties in css with a ":" before the property name. eg. :hover. An image can have one background colour and another when hovered over i.e html element state changes */
/*****************************************CLASS SELECTORS**********************/





/*****************************************ID SELECTORS**********************/